<form [formGroup]="metaData">
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input matInput [matAutocomplete]="auto" formControlName="location" />
    <mat-autocomplete
      autoSelectActiveOption="false"
      #auto
      (optionSelected)="check($event)"
    >
      <mat-option *ngFor="let item of options" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-label [ngStyle]="{ color: dummy ? 'none' : '#EBEBE4' }"
    >Brighten Image
  </mat-label>
  <mat-slider>
    <input id="sliderInput" matSliderThumb [disabled]="true" />
  </mat-slider>

  <button mat-raised-button style="margin-left: 10px" (click)="onClick()">
    Reset
  </button>
  <button mat-raised-button style="margin-left: 10px" (click)="onClick()">
    Reset
  </button>

  <button mat-raised-button style="margin-left: 10px" (click)="onClick()">
    Submit
  </button>
</form>
<mat-grid-list cols="5" rowHeight="80vh">
  <mat-grid-tile style="background-color: aqua" colspan="3" rowspan="1"
    >1</mat-grid-tile
  >
  <mat-grid-tile style="background-color: purple" colspan="2" rowspan="1">
    <div class="div-test">
      <mat-grid-list
        cols="5"
        rowHeight="20vh"
        *ngFor="let data of dummyObj | keyvalue"
      >
        <mat-grid-tile class="data" colspan="2">{{ data.key }}</mat-grid-tile>
        <mat-grid-tile class="data" colspan="1">:</mat-grid-tile>
        <mat-grid-tile class="data" colspan="2">
          <div>
            {{ data.value }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>
    <div class="div-test">
      <mat-grid-list
        cols="8"
        rowHeight="2:1"
        *ngFor="let data of dummyObj | keyvalue"
      >
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->
